/* Feed */
.feed-title {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}

.main-article-img-div {
    max-height: 150px;
    min-height: 120px;
    padding-left: 0px;
    padding-right: 10px;
    overflow: hidden;
}


/* Main article */
.main-article-container {
    min-height: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    /* overflow: hidden; */
    cursor: pointer;
}

div.main-article {
    padding-left: 0px;
    padding-right: 0px;
}

p.main-article {
    margin-bottom: 0px;
}


/* Related article */
div.related-article-container {
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 30px;
    border-top: thin dotted #C0C0C0;
    max-height: 130px;
    min-height: 130px;
    overflow: hidden;
}

div.related-article-middle {
    border-right: thin dotted #C0C0C0;
    border-left: thin dotted #C0C0C0;
}

.related-article-img-div {
    padding-left: 8px;
    padding-right: 8px;
    max-height: 80px;
    min-height: 80px;
    overflow: hidden;
}

a.related-article-url {
    font-size: small;
}

div.related-article-title-div {
    padding-left: 8px;
    padding-right: 8px;
}


/* Modal reader */
.modal-reader {
    width: 90%; /* responsive width */
    margin-left: 5%;
}

.modal-content {
    overflow: hidden;
}

.modal-title{
    font-weight: bold;
}

a.modal-source {
    float: left;
}
